.header__subtitle {
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0 0 .5em;
}

@media screen and (max-width: 767px) {
  .header__subtitle {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header__subtitle {
    font-size: 1.5vw;
  }
}