.header__title {
  font-weight: 900;
  font-style: normal;
  line-height: 1.25;
  margin: .5em 0;
}

@media screen and (max-width: 767px) {
  .header__title {
    font-size: 38px;
  }
}

@media screen and (min-width: 768px) {
  .header__title {
    font-size: 4vw;
  }
}